{% load i18n ui %}
<li>
  <a href="{% url 'tasks:detail' task.id %}" class="card card-compact card-link flex items-start gap-3">
    <span class="mt-0.5 text-faint">{% icon "circle-dot" %}</span>
    <span class="flex-1 min-w-0">
      <span class="flex items-start justify-between gap-3">
        <span class="row-title">{{ task.title }}</span>
        {% include "tasks/_status.html" %}
      </span>
      <span class="row-meta">
        <span>{% icon "map-pin" size=14 %}{{ task.location.name }}</span>
        <span>{% icon "user" size=14 %}{{ task.assignee_label }}</span>
        <span>{% icon "clock" size=14 %}{{ task.due_at|date:"D H:i" }}</span>
        {% if task.photo_required %}<span title="{% translate 'Photo required' %}">{% icon "camera" size=14 %}<span class="sr-only">{% translate "Photo required" %}</span></span>{% endif %}
      </span>
    </span>
  </a>
</li>
